<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="vi">

<head>
	<%- include ('../../partials/head') %>
	<title>Bán hàng</title>
	<style>
		.number_code {
			margin: 0px 30px 0px 0px;
		}

		ul#show_search_product li {
			padding-left: 10px;
			padding-right: 10px;
		}
		.show_search:hover {
			background-color: #007bff;
			color: #ffff;
		}

		ul#show_search_customer li {
			padding-left: 10px;
			padding-right: 10px;
		}
		::-webkit-scrollbar {
			width: 5px;
		}

		/* Track */
		::-webkit-scrollbar-track {
			background: #f1f1f1;

		}

		/* Handle */
		::-webkit-scrollbar-thumb {
			background: #888;
			border-radius: 10px;
		}

		/* Handle on hover */
		::-webkit-scrollbar-thumb:hover {
			background: #555;
		}

		body {
			--table-width: 100%;
			/* Or any value, this will change dinamically */
		}

		tbody {
			display: block;
			max-height: 60vh;
			overflow-y: auto;
		}

		@media screen and (max-width:500px) {
			tbody {
				display: block;
				max-height: 380px;
				overflow-y: auto;
			}
		}

		thead,
		tbody tr {
			display: table;
			word-break: break-all;
			width: var(--table-width);
			table-layout: fixed;
		}
		.pointer {
			cursor: pointer;
		}

		.card {
			margin-bottom: 0px;
			
		}

		.card-body {
			padding: 5px;
			
			word-break: break-all;

		}
		p.card-text{
			margin-bottom: 5px;
		}
		ul#show_search_product {
			z-index: 4;
			position: relative;
		}
		ul#show_search_customer {
			z-index: 4;
			position: relative;
		}
		.green-card{
			background-color: #5c0110;
		}
		@media (min-width: 300px) {
			 #name_store{
				  font-size: 12px;
				  display: none;
			  }
			 .card-columns {
				 column-count: 2;
			}
		}
		 @media (min-width: 768px) {
			  #name_store{
				  font-size: 18px;
				  display: inline;
			  }
			 .card-columns {
				 column-count: 2;
			}
		}
		 @media (min-width: 992px) {
			  #name_store{
				  font-size: 20px;
				  display: inline;
			  }
			 .card-columns {
				 column-count: 4;
			}
		}
		 @media (min-width: 1200px) {
			  #name_store{
				  display: inline;
				  font-size: 20px;
			  }
			 .card-columns {
				 column-count: 4;
			}
		}
	</style>
</head>

<body>
	<div>



		<!-- Content Wrapper. Contains page content -->

		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<!-- Small boxes (Stat box) -->
				<div class="card" style="min-height: 75vh;">
					<div class="card-header green-card"
						style="height: 50px;">
						<div class="row">
							<div class="col-8">
								<div class="row text-dark">
									<div class="col-6">
										<input class="form-control" style="height: 30px;padding: 5px 5px 5px 5px" autocomplete="off"
											id="search_product" placeholder="Tìm theo tên hoặc mã"> 
										<div style="display:block">
											<ul style="max-height: 60vh;margin:0px; overflow: auto; list-style-type:none; font-size: 14px; box-shadow: 0 5px 15px rgba(0,0,0,0.5); z-index:10010; background-color: #ffff; padding: 0"
												id="show_search_product">

											</ul>
										</div>
									</div>
									<div class="col-6">
										
									</div>
								</div>


							</div>
							<div class="col-4">
								<span class="font-italic text-white" id="name_store" style="margin-left: 10px;">
									<%-store_name%>
								</span>
								<div class="btn-group float-right text-white" style="position: relative; display:inline; padding:0;">
								  <button type="button" class="btn bg-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fas fa-bars"></i>
								  </button>
								  <div class="dropdown-menu dropdown-menu-right">
									<button class="dropdown-item" data-toggle="modal" data-target="#report" type="button"><i class="fas fa-file-invoice-dollar"></i> Báo cáo</button>
									<button class="dropdown-item" onclick="location.href='/logout'" type="button"><i class="fas fa-sign-out-alt"></i> Thoát</button>
								  </div>
								</div>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-8">
								<table class="table table-hover table-sm" cellspacing="0" style="font-size: 14px;">
									<thead>
										<tr>
											<th>Mã</th>
											<th>Tên</th>
											<th>Giá</th>
											<th>Số lượng</th>
											<th>Tổng cộng</th>
											<th></th>
										</tr>
									</thead>
									<tbody id="add_product">

									</tbody>
								</table>
							</div>
							<div class="col-md-4">
								<div class="input-group" style="padding-bottom:5px;">
									<div class="input-group-prepend">
									  <span class="input-group-text bg-info text-white" style="cursor: default; width: 105px;">Nhân Viên</span>
									</div>
									<select class="form-control" id="select_employees">
									</select>
								</div>
								<div class="input-group" id="find_customer" style="padding-bottom:5px;">
									<div class="input-group-prepend">
									  <span class="input-group-text bg-info text-white" style="cursor: default; width: 105px;">Khách hàng</span>
									</div>
									<input class="form-control" autocomplete="off" id="search_customer" placeholder="Tìm theo tên hoặc số điện thoại">
									<div class="input-group-append">
									  <button class="btn btn-info" type="button" style="width:38px" data-toggle="modal" data-target="#create_new_customer"><i class="fas fa-plus"></i></button>
									</div>
								</div>
								<div class="input-group" id="show_customer" style="display:none; padding-bottom:5px;">
									<div class="input-group-prepend">
									  <span class="input-group-text bg-info text-white" style="cursor: default; width: 105px;">Khách hàng</span>
									</div>
									<span class="form-control pointer" data-toggle="modal" data-target="#edit_customer" style="color: #007bff ;background-color:#FFFFFF" id="customer"></span>
									<input type="hidden" id="select_customer" value="">
									<div class="input-group-append">
									  <button class="btn btn-danger" type="button" style="width:38px" onclick="remove_customer()" ><i class="fas fa-times"></i></button>
									</div>
								</div>
								<div class="input-group">
									<div class="input-group-prepend">
									  <span class="input-group-text bg-info text-white" style="cursor: default; width: 105px;">Bảng giá</span>
									</div>
									<select class="form-control" id="select_price_book">
									</select>
								</div>
								<div style="display:block; z-index:10; position: absolute; left: 7.5px; right: 7.5px;">
									<ul style="max-height: 60vh;margin:0px; overflow: auto; list-style-type:none; font-size: 14px; box-shadow: 0 5px 15px rgba(0,0,0,0.5); z-index:10010; background-color: #ffff; padding: 0;"
										id="show_search_customer">
	
									</ul>
								</div>
								<div class="input-group" style="padding-bottom:5px; padding-top:5px;">
									<div class="input-group-prepend">
									  <span class="input-group-text bg-info text-white" style="cursor: default; width: 105px;">Mã giảm giá</span>
									  <input type="hidden" id="discount_type">
									  <input type="hidden" id="discount_id">
									</div>
									<input type="text" id="number_code_discount" autocomplete="off" class="form-control">
								</div>
								<label>Giảm giá</label> <span id="discount_value" class="float-right"></span>
								<br>
								<span>Tổng cộng</span> <span id="total_sale" class="float-right"></span>
								<br>
								<span>Tiền giảm</span> <span id="money_discount" class="float-right"></span>
								<br>
								<label>Số tiền phải thanh toán</label> <span id="bill_money" class="float-right"></span>
								<br>
								<label style="margin-bottom: 0px">Khách trả</label><br>
								<span>Tiền mặt</span> <span id="customer_pay_cash" class="float-right"></span><br>
								<span>Thẻ</span> <span id="customer_pay_card" class="float-right"></span>
								<br>
								<div class="d-none justify-content-between" id="selection_pay"> 
									<button type="button" id="payment_cash" style="width:33%;" onclick="change_payment_type('payment_cash')" class="btn btn-outline-info">Tiền mặt</button>
									<button type="button" id="payment_card" style="width:33%;" onclick="change_payment_type('payment_card')"class="btn btn-outline-info">Thẻ</button>
									<button type="button" id="payment_both" style="width:33%;" onclick="change_payment_type('payment_both')"class="btn btn-outline-info">Khác</button>
								</div>
								<label>Trả lại khách</label> <span class="float-right" id="money_return"></span>
								<br>
								<textarea class="form-control form-control-sm" id="note_bill" style="resize:none;" placeholder="Ghi chú" rows="5"></textarea>	
								<button type="button" style="height:40px" class="form-control btn btn-info float-left" onclick="check_payment()">Thanh toán</button>
							</div>
						</div>
					</div>
				</div>
				
				<div class="carousel" data-ride="carousel" style="min-height:25vh; padding: 7.5px 0px 0px 0px" data-interval="false" id="get_service">

				</div>
			</div><!-- /.container-fluid -->
		</section>
		<!-- /.content -->
		<!-- Modal create customer -->
		<div class="modal fade" id="create_new_customer" tabindex="-1" role="dialog" aria-labelledby="create_store" data-backdrop="static">
		  <div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title">Tạo khách hàng mới </h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			  </div>
			  <div class="modal-body">
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">Tên</div>
					</div>
					<input type="text" class="form-control" id="name" placeholder="Nhập tên" aria-label="Name">
				</div>
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">Ngày Tháng Năm Sinh</div>
					</div>
					<input type="text" class="form-control" data-inputmask-alias="datetime" id="birthday" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
				</div>
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text" >Giới tính</div>
					</div>
					<select class="form-control" id="gener">
						<option value="male">Nam</option>
						<option value="female">Nữ</option>
					</select>
				</div>
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">Số điện thoại</div>
					</div>
					<input type="text" class="form-control" id="phone" data-inputmask="'mask': '999 999 9999'" data-mask>
				</div>
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">Thông tin địa chỉ</div>
					</div>
					<input type="text" class="form-control" id="address" placeholder="Nhập địa chỉ" aria-label="Address">
				</div> 
				<div class="input-group mb-3">
					<div class="input-group-prepend">
					  <span class="input-group-text">Ghi chú</span>
					</div>
					<textarea class="form-control" rows="5" id="note_customer"></textarea>
				</div>			
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
				<button type="button" class="btn btn-primary" onclick="create_new_customer();" data-dismiss="modal">Tạo</button>
			  </div>
			</div>
		  </div>
		</div>
		<!-- End Modal create customer -->
		
		<!-- Modal pay both -->
		<div class="modal fade" id="type_both" tabindex="-1" role="dialog" aria-labelledby="type_both" data-backdrop="static">
		  <div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title">Thanh Toán</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			  </div>
			  <div class="modal-body">
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text bg-info" style="width: 90px">Tiền mặt</div>
					</div>
					<input type="currency" class="form-control" id="both_pay_cash" placeholder="Nhập số tiền" aria-label="Cash">
				</div>
				<br>
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text bg-info" style="width: 90px">Thẻ</div>
					</div>
					<input type="currency" class="form-control" id="both_pay_card" placeholder="Nhập số tiền" aria-label="Card">
				</div>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
				<button type="button" class="btn btn-primary" onclick="pay_both();" data-dismiss="modal">Nhập</button>
			  </div>
			</div>
		  </div>
		</div>
		<!-- End Modal pay both -->
		
		<!-- Modal pay cash -->
		<div class="modal fade" id="type_cash" tabindex="-1" role="dialog" aria-labelledby="type_cash" data-backdrop="static">
		  <div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title">Thanh Toán</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			  </div>
			  <div class="modal-body">
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text bg-info" style="width: 90px">Tiền mặt</div>
					</div>
					<input type="currency" class="form-control" id="pay_cash" placeholder="Nhập số tiền" aria-label="Cash">
				</div>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
				<button type="button" class="btn btn-primary" onclick="pay_cash();" data-dismiss="modal">Nhập</button>
			  </div>
			</div>
		  </div>
		</div>
		<!-- End Modal pay cash -->
		<!-- Modal report -->
		<div class="modal fade" id="report" tabindex="-1" role="dialog" aria-labelledby="report" data-backdrop="static">
		  <div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title">Báo cáo bán hàng</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			  </div>
			  <div class="modal-body">
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="pill"
							href="#report-day" role="tab" data-toggle="tab"
							aria-selected="true">Báo cáo ngày</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="pill" href="#report-month" role="tab"
							data-toggle="tab" aria-selected="false">Báo cáo tháng</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade active show" id="report-day" role="tabpanel"
										aria-labelledby="edit-information">

					</div>
					<div class="tab-pane fade" id="report-month" role="tabpanel" aria-labelledby="report-month">

					</div>
				</div>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
				<button type="button" class="btn btn-primary" onclick="pay_cash();" data-dismiss="modal">Nhập</button>
			  </div>
			</div>
		  </div>
		</div>
		<!-- End Modal report -->
		<!-- Modal Show Customer -->
		<div class="modal fade" id="edit_customer" tabindex="-1" role="dialog" aria-labelledby="edit_customer">
		  <div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title">Thông tin khách hàng</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			  </div>
			  <div class="modal-body">
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="edit-information" data-toggle="pill"
							href="#edit-information-tab" role="tab" data-toggle="tab" aria-controls="edit-information-tab"
							aria-selected="true">Thông tin</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="edit-stock" data-toggle="pill" href="#edit-history-payment-tab" role="tab"
							aria-controls="edit-history-payment-tab" data-toggle="tab" aria-selected="false">Lịch sử giao dịch</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="edit-stock" data-toggle="pill" href="#edit-service-tab" role="tab"
							aria-controls="edit-service-tab" data-toggle="tab" aria-selected="false">Dịch vụ khách còn</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade active show" id="edit-information-tab" role="tabpanel"
										aria-labelledby="edit-information">
						<div class="input-group">
							<div class="input-group-prepend">
								<div class="input-group-text" id="btnGroupAddon1">Tên</div>
							</div>
							<input type="text" class="form-control" id="edit_name" placeholder="Nhập tên" aria-label="Name" aria-describedby="btnGroupAddon1">
						</div>
						<div class="input-group">
							<div class="input-group-prepend">
								<div class="input-group-text" id="btnGroupAddon2">Ngày Tháng Năm Sinh</div>
							</div>
							<input type="text" class="form-control" data-inputmask-alias="datetime" id="edit_birthday" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
						</div>
						<div class="input-group">
							<div class="input-group-prepend">
								<div class="input-group-text" >Giới tính</div>
							</div>
							<select class="form-control" id="edit_gener">
								<option value="male">Nam</option>
								<option value="female">Nữ</option>
							</select>
						</div>
						<div class="input-group">
							<div class="input-group-prepend">
								<div class="input-group-text" id="btnGroupAddon3">Số điện thoại</div>
							</div>
							<input type="text" class="form-control" id="edit_phone" data-inputmask="'mask': '999 999 9999'" data-mask>
						</div>
						<div class="input-group">
							<div class="input-group-prepend">
								<div class="input-group-text" id="btnGroupAddon4">Thông tin địa chỉ</div>
							</div>
							<input type="text" class="form-control" id="edit_address" placeholder="Nhập địa chỉ" aria-label="Address" aria-describedby="btnGroupAddon4">
						</div>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
							<span class="input-group-text">Ghi chú</span>
							</div>
							<textarea class="form-control" rows="5" id="edit_note"></textarea>
						</div>	
						<input type="hidden" id="edit_id" value="" />
					</div>
					<div class="tab-pane fade" id="edit-history-payment-tab" role="tabpanel" aria-labelledby="edit-history-payment">

					</div>
					<div class="tab-pane fade" id="edit-service-tab" role="tabpanel" aria-labelledby="edit-service">
					</div>
				</div>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
			  </div>
			</div>
		  </div>
		</div>
		<!-- End Modal Show Customer -->
		<iframe id="printer" style="display: none; position: absolute;"></iframe> 
		
		<!-- /.content-wrapper -->
		<input type="hidden" id="_csrf" value="<%=csrfToken%>" />
		<script src="/dist/js/store/store_sale.js"></script>
		<!-- Sweetalert2 -->
		<link rel="stylesheet" href="/assets/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
		<script src="/assets/plugins/sweetalert2/sweetalert2.min.js"></script>
		<!-- Bootstrap 4 -->
		<script src="/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
		<!-- AdminLTE App -->
		<script src="/assets/dist/js/adminlte.min.js"></script>
		<!-- Common -->
		<script src="/dist/js/common.js"></script>
		<!-- InputMask -->

		<script src="assets/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
</body>

</html>