<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="vi">
<head>
  <%- include ('../partials/head') %>
  <title>Home1</title>
</head>
<body class="hold-transition sidebar-mini sidebar-collapse">
<div class="wrapper">
  <%- include ('../partials/header') %>
  <%- include ('../partials/menu') %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  </div>
  <!-- /.content-wrapper -->


  <%- include ('../partials/footer') %>
</body>
</html>
