<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="vi">
<head>
  <%- include ('./partials/head') %>
  <title>404 - Not Found</title>
  <style type="text/css">
    .wrap{
        margin:0 auto;
   
    }
    .logo h1{
        font-size:200px;
        color:#8F8E8C;
        text-align:center;
        margin-bottom:1px;
        text-shadow:1px 1px 6px #fff;
    }	
    .logo p{
        color:rgb(228, 146, 162);
        font-size:20px;
        margin-top:1px;
        text-align:center;
    }	
    .logo p span{
        color:lightgreen;
    }	
    .sub a{
        color:white;
        background:#8F8E8C;
        text-decoration:none;
        padding:7px 120px;
        font-size:13px;
        font-family: arial, serif;
        font-weight:bold;
        border-radius:3em;
    }		
  </style>
</head>
<body class="hold-transition sidebar-mini sidebar-collapse">
<div class="wrapper">
  <%- include ('./partials/header') %>
  <%- include ('./partials/menu') %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <div class="wrap">
        <div class="logo">
        <h1>404</h1>
         <p>Error occurred! - File not Found</p>
 
             <div class="sub">
             <p><a href="/">Back</a></p>
           </div>
         </div>
     </div>
  </div>
  <!-- /.content-wrapper -->


  <%- include ('./partials/footer') %>
</body>
</html>